# <center> REQUETES SQL : Exercices de synthèse </center>

* Dans ce document, la base de donnée utilisée simule la gestion d'emprunts de livres dans une médiathèque.
* Le script de création et de peuplement `livres.sql` se trouve dans le même répertoire que ce document.
* Rappels des actions pour utiliser la console mysql MariaDB qui se trouve dans le logiciel Xampp.
  * Ouvrir Xampp, puis l'interface en ligne de commande (shell)
  * Exécuter `mysql -u root`

### Exercice 1 : Création

__1.__ Créer la base de donnée à l'aide de l'instruction  : `create database mediatheque;`

__2.__ Créer et peupler les tables à l'aide de la commande `source mediatheque.sql;`(si le script est dans le répertoire Xampp, sinon indiquer son chemin).

### Exercice 2 : Analyse

__1.__ Représenter ci-dessous le modèle conceptuel de données(MCD) et le modèle logique de données(MLD).


&nbsp;


&nbsp;


&nbsp;


&nbsp;


&nbsp;


&nbsp;


&nbsp;


&nbsp;


&nbsp;


&nbsp;


&nbsp;


&nbsp;

__2.__ Expliquer les rôles des attributs `a_id` et `isbn` dans les tables où ils apparaissent.

__Réponse :__ 
*  


*

### Exercice 3 : Requêtes simples
Dans chaque cas, écrire la requête permettant d'obtenir les informations demandées.

__1.__ Tous les titres de livre.
   
   *  


__2.__ Tous les noms d'usager.
   
   *  
   
   
__3.__ Tous les noms d'usager, sans doublons.
   
   *  


__4.__ Les titres des livres publiés avant 1980.
   
   *  


__5.__ Les titres des livres dont le titre contient la lettre "A". (on se renseignera sur le mot clé `LIKE`)
   
   *  


__6.__ Les isbn des livres à rendre pour le 01/01/2020.
   
   *  


__7.__ Les noms d'auteur triés par ordre alphabétique.
   
   * 


__8.__ Les noms et prénoms des usagers vivants dans le 12è ou le 13è arrondissement de Paris (codes postaux 75012 et 75013).
  
  *  


__9.__ Les noms, prenoms et adresses des usagers n'habitant pas dans une rue.
   
   *  


__10.__ Les annees et titre des livres publiés lors d'une annee bissextile (les années divisible par 4, mais pas celles divisibles par 100 sauf si elles sont divisibles par 400).
   
   *

### Exercice 4 : Lecture de requêtes
Pour chaque requête, indiquer quelles sont les informations demandées.

__1.__ `select * from livre where titre like '%Robot%';`

   *  
   
   
__2.__ `select nom, prenom from usager where cp='75005';`

   *  
   
   
__3.__ `select distinct usager.nom from usager join emprunt on usager.code_barre=emprunt.code_barre where retour<'2020-04-02';`
   
   *  


__4.__ `select count(titre) from livre where annee >= 1990 and annee <= 1999;`

   *

### Exercice 5 : Requêtes imbriquées ou avec jointures
Même exercice.

__1.__ Le titre des livres empruntés.
   
   *  
   
   
__2.__ Le titre des livres empruntés à rendre avant le 31/03/2020.
   
   *  
   
   
__3.__ Le nom et le prénom de l'auteur de "1984".
  
   *  
   * 
   * 
   * 
   
   
__4.__ Le nom des usagers ayant emprunté des livres, sans doublons (si un usager a emprunté plusieurs livres, il ne doit apparaître qu'une fois.
   
   * 
   * 
   * 
    
    
__5.__ Même requête que précedemment, avec les noms triés par ordre alphabétique.
   
   * 
   * 
   * 
   * 


__6.__ Les titres des livres publiés strictement avant "Dune".
   
   *  
  

__7.__ Les noms des auteurs des livres trouvés à la question précedente.
   
   * 
   * 
   * 
   * 
 
 
__8.__ Comme à la question précédente mais sans les doublons.
   
   *  
   * 
   * 
   * 


__9.__ Le nombre de résultats trouvés à la question précédente.
   
   * 
   * 
   * 
   * 
 
__10.__ Le nombre de titre auxquels a participé René Goscinny.
    
   *  
   * 
   * 
   *

### Exercice 6 : Insertion, mise à jour et suppression
__1.__ Un nouvel usager vient de s'inscrire à la médiathèque : STEPHANE PARCY, 6, Rue Mouffetard, 75005 PARIS, sparcy\@hmail.com. Ne pas oublier de lui attribuer un code barre.
   
   *  
   * 
   
   
__2.__ Il y a une erreur de saisie dans le nom de l'auteur Ligaran, la modifier.
   
   *  
   
   
__3.__ Sébastien Petit vient rendre ses livres et annonce qu'il souhaite se désinscrire car il déménage.Supprimer les informations concernées.
   
   *  
   *  
  
  
__4.__ La mairie souhaite revoir la structure des tables de la base, les supprimer.
   
   *  
   *  
   *  
   *  
   *

# <center> FIN </center>